body,
html {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      line-height: 1.6;
      background-color: #f4f4f4;
}

.email-wrapper {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
      text-align: center;
      padding-bottom: 15px;
      border-bottom: 1px solid #ddd;
}

.header img {
      max-width: 200px;
      height: auto;
}

/* Email Content */
.email-content {
      margin-top: 20px;
}

 /* Social Links */
 .social-links {
      text-align: center;
      margin-bottom: 20px;
  }

  .social-links a {
      display: inline-block;
      margin: 0 10px;
  }

  .social-links i {
     font-size: larger;
  }

.footer {
      margin-top: 10px;
      padding-top: 20px;
      border-top: 1px solid #ddd;
}

.footer p {
      font-size: 11px;
      color: #666;
      font-style: italic;
}